<main class='list_view'>

  <section class='profile-bar profile_title'>
    <div class='profile-container'>
      <img class='profile-pic' src=''>
      <h2>user name</h2>
    </div>
    <div class='selections-container'>
      <button class='selection-box' id='fav'>Favourites</button>
      <button class='selection-box' id='cont'>Contributions</button>
      <button class='previous-page-button'>Previous Page</button>
      <button class='next-page-button'>Next Page</button>
    </div>
  </section>

  <section class='map-list'>
  </section>

</main>
