<main class='list_view'>

  <section class='profile-bar profile_title'>
    <div class='profile-container'>
      <img class='profile-pic' src=''>
      <h2>user name</h2>
    </div>
    <div class='selections-container'>
      <button class='selection-box' id='fav'>Favourites</button>
      <button class='selection-box' id='cont'>Contributions</button>
    </div>
  </section>

  <section class='map-list'>
    <div class='map-container'>
      <div>
        <h2>Best Coffee Shops in Vancouver</h2>
        <p>These are some of the best places to go for coffee in Vancouver, Canada</p>
        <p>Created By:</p>
      </div>
      <img class='map-profile-img' src='https://images.dailyhive.com/20190409192004/56481872_1154633324661092_3673180617329716882_n.jpg'>
    </div>

</main>
