<!-- view a list of maps -->
<main class='list_view'>
  <!-- profile-bar: shows active user and filter options -->
  <section class='profile-bar profile_title has-background-primary-light'>
    <!-- profile-container only visible on large screens -->
    <div class='profile-container'>
      <img class='profile-pic' src=''>
      <h2 class="is-size-3">user name</h2>
    </div>
    <!-- selections-container: buttons to filter results -->
    <div class='selections-container pt-5'>
      <div class="field selection-box">
        <input id="fav" type="checkbox" name="fav" class="switch is-rounded is-rtl is-medium">
        <label for="fav">Favourites</label>
      </div>
      <div class="field selection-box">
        <input id="cont" type="checkbox" name="fav" class="switch is-rounded is-rtl is-medium">
        <label for="cont">Contributions</label>
      </div>
    </div>
  </section>
  <!-- second column on large screens -->
  <section>
    <section class='map-list'>
      <!-- List of Maps Populated HERE -->
    </section>
    <!-- paging buttons -->
    <section class="is-flex-direction-row is-justify-content-space-between p-2">
      <button class='previous-page-button button is-info is-outlined' disabled>Previous Page</button>
      <button class='next-page-button button is-info is-outlined'>Next Page</button>
    </section>
  </section>
</section>
</main>
