<main class='list_view'>

  <section class='profile-bar profile_title'>
    <div class='profile-container'>
      <img class='profile-pic' src=''>
      <h2 class="is-size-3">user name</h2>
    </div>
    <div class='selections-container'>
      <button class='selection-box' id='fav'>Favourites</button>
      <button class='selection-box' id='cont'>Contributions</button>

    </div>
  </section>

  <section>
    <section class='map-list'>
    </section>
    <section class="is-flex-direction-row is-justify-content-space-between p-2">
      <button class='previous-page-button button is-info is-outlined' disabled>Previous Page</button>
      <button class='next-page-button button is-info is-outlined'>Next Page</button>
    </section>
  </section>
</section>
</main>
