<section class='login'>
  <h3>Login</h3>
  <span class='error'>Error Here</span>
  <form action="/login" method="POST">
    <div>
      <label for="email">E-Mail Address</label>
      <input type="email" name="email" placeholder="E-Mail Address">
      <label for="password">Password</label>
      <input type="password" name="password" placeholder="Password">
      <button type="submit" class="btn btn-primary btn-lg">Submit</button>
    </div>
  </form>
</section>
