<!-- view a single map with all it's details(also for map creation) -->
<section class="map_view columns">
  <div class="column is-half flex-grow-1">
    <!-- map_intro: show the title, description, and creator -->
    <div class="map_intro">
      <h2 class="is-size-4">New Map</h2>
      <p>Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description </p>
      <div>
        <h6 class="is-size-7">Created By USER</h6> <!--Change to include which user-->
        <button class="edit_map button is-link is-outlined">Edit</button>
      </div>
    </div>
    <div class="median">
      <div class="padding"><!-- pulls the sides in the width of border-radius -->
        <!-- edit_map: open for new map or when edit clicked-->
        <div class="edit_map">
          <form action="/edit_map" method="POST">
            <div class="form_div">
              <span>
                <label for="name">Title<b>*</b></label>
                <input type="text" name="name" placeholder="Title">
              </span>
              <span>
                <label for='description'>Description</label>
                <textarea name='description'></textarea>
              </span>
              <span>
                <button type="submit" class="submit button is-link is-outlined">Save</button>
                <button type="button" class="button is-danger is-outlined" id="cancel_edit_map">Cancel</button>
              </span>
            </div>
          </form>
        </div>
      </div>
      <div class="bar has-background-primary-dark">
        <!-- directions hidden when in add_point form -->
        <h5 class="add_point">Click on the map to add a new point of interest</h5>
        <!-- save button only displayed when map center moved, or zoom changed -->
        <button class="save button is-link is-inverted is-outlined">Save Position</button>
      </div>
      <div class="padding"><!-- pulls the sides in the width of border-radius -->
        <!-- add_point: only displayed when adding or editing points -->
        <div class="add_point">
          <form id="point-form" action="/api/maps/add_point" method="POST">
            <div class="form_div">
              <span>
                <label for="title">Title<b>*</b></label>
                <input type="text" name="title" placeholder="Title">
              </span>
              <span>
                <label for='description'>Description</label>
                <textarea name='text' id='description'></textarea>
              </span>
              <span>
                <label for="photo">Image URL</label>
                <input type="text" name="image" placeholder="Image URL">
              </span>
              <!--shows latlng of point (can remove) -->
              <span>
                <label for="lat">Latitude</label>
                <input type="text" name="lat" placeholder="latitude">
              </span>
              <span>
                <label for="lng">Longitude</label>
                <input type="text" name="lng" placeholder="longitude">
              </span>
              <span hidden>
                <input type="hidden" name="id">
              </span>
              <span>
                <button type="submit" class="submit button is-link is-outlined">Save</button>
                <button type='button' class="button is-danger is-outlined" id="cancel_add_point">Cancel</button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="map_container column is-half flex-grow-1" id='test_map'>
    <!-- Map Goes HERE -->
  </div>
</section>
