
<section class="map_view">
  <div>
    <div class="map_intro">
      <h2>New Map</h2>
      <p>Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description </p>
      <div>
        <h6>Created By USER</h6>
        <button class="edit_map">Edit</button>
      </div>
    </div>
    <div class="median">
      <div class="padding">
        <!-- edit_map - displays when edit button clicked in map_intro -->
        <div class="edit_map">
          <form action="/edit_map" method="POST">
            <div class="form_div">
              <span>
                <label for="name">Title<b>*</b></label>
                <input type="text" name="name" placeholder="Title">
              </span>
              <span>
                <label for='description'>Description</label>
                <textarea name='description'></textarea>
              </span>
              <span>
                <button type="submit" class="submit">Save</button>
                <button id="cancel_edit_map">Cancel</button>
              </span>
            </div>
          </form>
        </div>
      </div>
      <div class="bar">
        <!-- directions hidden when in add_point form -->
        <h5 class="add_point">Click on the map to add a new point of interest</h5>
        <!-- save button only displayed when map center moved, or zoom changed -->
        <button class="save">Save</button>
      </div>
      <!-- add_point - displays when map is clicked -->
      <div class="padding">
        <div class="add_point">
          <form id="point-form" action="/api/maps/add_point" method="POST">
            <div class="form_div">
              <span>
                <label for="title">Title<b>*</b></label>
                <input type="text" name="title" placeholder="Title">
              </span>
              <span>
                <label for='description'>Description</label>
                <textarea name='text' id='description'></textarea>
              </span>
              <span>
                <label for="photo">Image URL</label>
                <input type="text" name="image" placeholder="Image URL">
              </span>
              <!--shows latlng of point (can remove) -->
              <span>
                <label for="lat">Latitude</label>
                <input type="text" name="lat" placeholder="latitude">
              </span>
              <span>
                <label for="lng">Longitude</label>
                <input type="text" name="lng" placeholder="longitude">
              </span>
              <span>
                <button type="submit" class="submit">Save</button>
                <button id="cancel_add_point">Cancel</button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="map_container" id='test_map'>
    <!-- Map Goes HERE -->
  </div>
</section>
