<nav>
  <div class='nav_links'>
    <span class='logo'>WikiMap</span>
    <a class='logged_in' id="my_maps_btn">My Maps</a>
    <a class='logged_in new_map_btn'>New Map</a>
  </div>
  <div class="nav_user">
    <a class='logged_in' id="profile_btn">Profile</a>
    <button class='logged_in' id="logout_btn">Logout</button>
  </div>
</nav>
