<section class='profile_view'>
  <div class="profile_title">
        <img src='https://cdn.iconscout.com/icon/free/png-512/sloth-1400398-1185970.png'>
        <h2>Your Name</h2>
  </div>
  <div class="profile_update">
    <h3>Edit Your Profile</h3>
    <span class='error'>Error Here</span>
    <form action="/profile_update" method="POST">
      <div>
        <label for="Name">User Name<b>*</b></label>
        <input type="text" name="Name" placeholder="Your Name">
        <label for="email">E-Mail Address<b>*</b></label>
        <input type="email" name="email" placeholder="Your E-Mail Address">
        <label for="photo">Profile Photo</label>
        <input type="text" name="photo" placeholder="Your Image URL">
        <label for="password">Password<b>*</b></label>
        <input type="password" name="password" placeholder="Password">
        <label for="password">Confirm Password<b>*</b></label>
        <input type="password" name="confirm_password" placeholder="Password">
        <button type="submit" class="submit">Submit</button>
      </div>
    </form>
  </div>
</section>
