<section class='profile_view'>
  <div class="profile_title">
        <img src=''>
        <h2>Your Name</h2>
  </div>
  <div class="profile_update">
    <h3>Edit Your Profile</h3>
    <p class='error'>Error Here</p>
    <form action="/profile_update" method="POST">
      <div>
        <label for="name">User Name<b>*</b></label>
        <input type="text" name="name" placeholder="Your Name">
        <label for="email">E-Mail Address<b>*</b></label>
        <input type="email" name="email" placeholder="Your E-Mail Address">
        <label for="profile_photo">Profile Photo</label>
        <input type="text" name="profile_photo" placeholder="Your Image URL">
        <label for="password">Password<b>*</b></label>
        <input type="password" name="password" placeholder="Password">
        <label for="password">Confirm Password<b>*</b></label>
        <input type="password" name="confirm_password" placeholder="Password">
        <span>
          <button type="submit" class="submit">Submit</button>
          <button type="button" id="cancel_profile_update">Cancel</button>
        </span>

      </div>
    </form>
  </div>
</section>
<!-- name, email, password, profile_photo, username -->
