// See: https://sass-lang.com/
@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";
//override bulma variables here
$navbar-item-hover-background-color: $primary;
$navbar-item-hover-color: hsl(0, 0%, 29%);
$navbar-item-color: $light;
$navbar-divider-background-color: $primary;
// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";

//Set the corner rounding, and position of drop out
//menus relative to the rounding
$borderRadius: 10px;
/*******************************************
*                nav bar                   *
********************************************/
.navbar-menu {
  background-color: $primary-dark;
}
.logo {
  font-family: cursive;
  text-shadow: 2px 2px 2px #000000;
}
.navbar-burger {
  border-radius: 3px;
}
.navbar-item:hover {
  background-color: inherit;
}

@media only screen and (min-width: 650px) {
  nav {
    height: 120;
  }
}
/*******************************************
*      login/registration view             *
********************************************/
.login_reg_view {
  //internal layout properties
  display: flex;
  flex-direction: column;
  align-items: center;
  //size properties
  width: 100%;
  max-width: 60rem;
  //colors and border
  background-color: #FFFFFF;
  border: 2px solid #000000;
  border-radius: $borderRadius;
  //child elements
  h3 {
    align-self: center;
  }
  div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    & > * {
      margin: 0.25rem;
    }
  }
  .error {
    display: none;
    color: #c10000;
  }
  .divider {
    width: 10rem;
    margin: 1rem;
    border-bottom: 2px solid #000000;
  }
  button {
    align-self: center;
  }
}
//large screen: put login and reg beside each other
@media only screen and (min-width: 650px) {
  .login_reg_view {
    flex-direction: row;
    justify-content: space-evenly;
    .divider {
      width: initial;
      height: 20rem;
      margin: 1rem;
      border-left: 2px solid #000000;
      border-bottom: none;
    }
  }
}

/*******************************************
*              profile view                *
********************************************/
.profile_view {
  display: flex;
  width: 100%;
  max-width:30rem;
  flex-direction: column;
  .profile_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 15rem;
    width: 100%;
    max-width: 30rem;
    border-radius: $borderRadius;
    margin-bottom: 3px;
    background-color: #da9334;
    img {
      max-width:12rem;
      max-height:12rem;
      width: auto;
      height: auto;
    }
  }
  .profile_update {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 30rem;
    background-color: #FFFFFF;
    border: 2px solid #000000;
    border-radius: $borderRadius;
    div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      & > * {
        margin: 0.25rem;
      }
    }
    .error {
      display: none;
      color: #c10000;
    }
    span {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  }
}
@media only screen and (min-width: 650px) {
  .profile_view {
    width: 100%;
    max-width:60rem;
    flex-direction: row;
    justify-content: space-evenly;
    .profile_title {
      margin-right: 3px;
    }
  }
}

/*******************************************
*               map view                   *
********************************************/
.map_view {
  width: 100%;
  .map_intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 10rem;
    max-width: 120rem;
    background-color: #FFFFFF;
    border: 2px solid #000000;
    border-radius: $borderRadius;
    p {
      text-align: center;
      word-wrap: normal;
      margin: 0.5rem;
    }
    div {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 1rem;
    }
    h6 {
      margin: 0;
    }
  }
  .bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: $borderRadius;
    border: 2px solid #000000;
    background-color: #4056A1;
    padding: 0.5rem;
    margin-top: 2px;
    h5 {
      margin: 0;
    }
  }
  .padding {
    padding: 0px $borderRadius 0 $borderRadius;
  }
  div.add_point, div.edit_map {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-color: #000000;
    border-style: solid;
    border-width: 0 2px 2px 2px;
    border-radius: 0 0 $borderRadius $borderRadius;
    background-color: #FFFFFF;
    * {
      margin: 0.25rem;
    }
  }
  .form_div {
    display: flex;
    flex-direction: column;
    span {
      display: flex;
      justify-content: space-between;
    }
  }
  .map_container {
    min-height: 500px;
    border-radius: $borderRadius;
    border: 2px solid #000000;
  }
  button.submit {
    align-self: center;
  }
}
// for infoWindow image size
.info-window-img {
  max-width:12rem;
  max-height:12rem;
  width: auto;
  height: auto;
}

@media only screen and (min-width: 770px) {
  .map_view {
    & > div {
      flex: 1;
    }
    .map_container {
      margin-top: 0.75rem;
      margin-left: 2px;
    }
  }
}

/*******************************************
*               list view                  *
********************************************/
.list_view {
  width: 90vw;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.profile-bar {
  display: flex;
  flex-direction: column;
  background-color: #cccccc;
  border-radius: $borderRadius;
  margin-top: 15px;
}

.profile-container {
  display: none;
}

.selections-container {
  display: flex;
  justify-content: space-evenly;
}

.selection-box {
  padding: 4vh;
  margin: 4vh;
  border: 2px solid black;
  border-radius: $borderRadius;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
}

.selection-box::after {
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: opacity 0.3s ease-in-out;
}

.selection-box:hover {
  transform: scale(1.1, 1.1);
}

.selection-box:hover::after {
  opacity: 1;
}

.map-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.map-container {
  border: 2px solid black;
  border-radius: $borderRadius;
  padding: 20px;
  margin-top: 20px;
}

.map-container:hover {
  border-color: coral;
}

.map-profile-img {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .list_view {
    width: 95%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
  }

  .profile-bar {
    display: flex;
    width: 30%;
    height: 75vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10vh;
    margin: 0;
  }

  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .selections-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .selection-box {
    margin: 1vw;
  }

  .map-list {
    margin-left: 20px;
  }

  .map-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .profile-pic {
    width: 10vw;
    height: width;
  }

  .map-profile-img {
    display: flex;
    width: 20vw;
    height: width;
  }
}
